@media screen and (max-width: 768px) {
  .content {
    font-size: small;
  }
  .footer svg {
    width: 1.1rem;
    height: auto;
  }
  footer p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) {
  .post {
    padding-left: 10px;
  }
  
  .content {
    font-size: medium;
  }

  .footer svg {
    width: 1.4rem;
    height: auto;
  }

  footer p {
    font-size: 1.4rem;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.footer p {
  color: rgb(92, 165, 233);
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.comentario, .like {
  display: flex;
  flex-direction: row;
}

.icon, .iconChecked{
  padding-right: 2px;
}

.comentario, .like {
  margin-right: 2rem;
}

.icon svg, .iconChecked svg {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon svg {
  color: rgb(92, 165, 233);
}

.iconChecked {
  color: #e96a5c;
}

.linha {
    border-top: 1px solid rgb(92, 165, 233);
}