.erro p,
.info p {
  text-align: inherit;
  font-size: 0.85rem;
}

.erro p {
  color: rgb(214, 59, 59);
}

.botao {
  margin: 0 auto;
  width: inherit;
  padding: 20px 0;
}

.botao input[type="submit"] {
  background-color: rgb(92, 165, 233);
  border: none;
  border-radius: 20px;
  padding: 2px 12px 5px 12px;
  color: white;
}

.form input,
.form label {
  display: block;
}

.formControl {
  padding-top: 20px;
}

.form {
  margin: 0 auto;
  width: 30vw;
  padding: 10px;
  min-width: 300px;
}

.registre {
  text-align: inherit;
  font-size: 0.9rem;
}

.span {
  font-weight: 600;
  color: rgb(92, 165, 233);
  cursor: pointer;
}

.span:hover {
  text-decoration: underline;
}
