.txtarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}

.botao {
  padding: 20px 0 5px 0;
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.botao p {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: rgb(92, 165, 233);
}

.botao input[type="submit"] {
  background-color: rgb(92, 165, 233);
  border: none;
  border-radius: 20px;
  padding: 2px 12px 5px 12px;
  color: white;
}

.white {
  margin-top: 15px;
  padding: 5px;
  background-color: white;
}

.title {
  font-weight: 600;
  color: rgb(92, 165, 233);
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .locked {
    position: fixed;
    width: 30%;
  }
}
